.statistics {
    width: 400px;
    margin: 0 auto;
    margin-top: 45px;
    background-color: #fff;
    border-radius: 5px;
}

.stat-list {
    display: flex;
}

.title {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
